$black: #222222;
$light-pink: #F1E4E6;
$red-pink: #F16D7F;
$white: #FFFFFF;
$grey-white: #ffe;
$grey: #9F9F9F;
$light-grey: #F8F8F8;
$dark: #5D5D5D;
$red: #F26376;
$whitely: #FBFBFB;
$pre-black: #222224;
$dark-grey: #E1E1E1;
$blue: #29B0D9;
$purple: rgba(168, 43, 152, 0.86);
$light: #F8F3F4;

$font-lato: 'Lato';