@import './reset';

@import './varibles';

@import './mixins';

@import './general';

@import './blocks/header';

@import './blocks/menu-item';

@import './blocks/content';

@import './blocks/column';

@import './blocks/item';

@import './blocks/brand';

@import './blocks/block';

@import './blocks/categories';

@import './blocks/product';

@import './blocks/list';

@import './blocks/product__card-last';

@import './blocks/advantage';

@import './blocks/footer';

@import './blocks/promo';

@import './blocks/send';

@import './blocks/rights';

@import './blocks/connection';

@import './blocks/registration';

@import './blocks/card';