/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.page {
  font-family: "Lato";
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: #222222;
}
.header__wrp {
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  align-items: center;
  margin-right: 35px;
  margin-left: 35px;
}
.header__wrp-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__wrp-links-menu {
  display: flex;
  justify-content: flex-end;
  position: relative;
  min-height: 20px;
}
.header__logo {
  margin-right: 41px;
}
.header__button {
  margin-right: 25px;
  border: none;
  background-color: transparent;
}
.header__button-img {
  fill: #FFFFFF;
}
.header__button-img:hover {
  fill: #F16D7F;
}
.header__button-img:active {
  fill: rgba(168, 43, 152, 0.86);
}
.header__profile {
  margin-right: 42px;
}
.header__nav {
  position: absolute;
  width: 80px;
  top: 100%;
  right: 0;
  background: #FFFFFF;
  display: none;
}
.header__nav-title {
  text-transform: uppercase;
}
.header__menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
@media (max-width: 767px) {
  .header__profile {
    display: none;
  }
  .header__basket {
    display: none;
  }
}

.menu-item__sub-title {
  text-transform: uppercase;
}

.content-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-item__img {
  display: block;
  margin: 0 auto;
}
.content-item__column {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-long {
  margin-top: 30px;
}
.content-long__img {
  max-width: 100%;
}
@media (max-width: 1199px) {
  .content-item__img {
    max-width: 100%;
  }
  .content-long {
    max-width: 100%;
    margin-top: 19px;
  }
  .content-long__img {
    max-width: 100%;
  }
}
@media (max-width: 1199px) and (max-width: 767px) {
  .content-item {
    margin-bottom: 32px;
  }
  .content-item__img {
    max-width: 360px;
  }
  .content-long {
    margin-top: 0;
  }
  .content-long__img {
    height: 111px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 360px) {
  .content-item__img {
    max-width: 300px;
  }
}

.column-text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  text-transform: uppercase;
}
.column-title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}

.item-bus {
  padding-bottom: 7px;
  display: block;
  margin: 0 auto;
}
.item-img {
  display: block;
  margin: 0 auto;
}
.item-corona {
  padding-bottom: 5px;
  display: block;
  margin: 0 auto;
}
.item-heading {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  padding: 19px 0 16px;
}
.item-text {
  max-width: 360px;
  margin-bottom: 104px;
}
.item-img-bottom {
  width: 100%;
}
@media (max-width: 768px) {
  .item-text {
    margin-bottom: auto;
  }
}

.brand {
  background-color: #F1E4E6;
  max-height: 764px;
}
.brand__wrp {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.brand__wrp-block {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 393px;
  align-items: flex-start;
  margin: 0;
  position: relative;
  margin-right: 99px;
}
.brand__wrp-block::before {
  width: 12px;
  height: 92px;
  background-color: #F16D7F;
  content: "";
  position: absolute;
  left: -28px;
}
@media (max-width: 1199px) {
  .brand__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 33px 0 115px;
  }
  .brand__wrp-img {
    max-width: 200px;
    max-height: 368px;
  }
  .brand__wrp-block {
    max-width: 300px;
    margin-right: 0px;
  }
}
@media (max-width: 767px) {
  .brand {
    height: 363px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .brand__wrp {
    margin: 0 33px 0 65px;
  }
  .brand__wrp-img {
    display: none;
  }
}

.block-title {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
}
.block-text {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
}
.block-text__fashion {
  color: #F16D7F;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .block-title {
    font-size: 37px;
    line-height: 44px;
    font-weight: 700;
    font-style: normal;
  }
  .block-text {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    font-style: normal;
  }
}
@media (max-width: 767px) {
  .block-text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
  }
}
@media (max-width: 360px) {
  .block-title {
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    font-style: normal;
  }
  .block-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
  }
}

.categories {
  margin-top: 65px;
}
.categories__list {
  list-style: none;
}
.categories__list-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media (max-width: 1199px) {
  .categories {
    margin-top: 20px;
  }
  .categories__list {
    margin: 0 20px;
  }
}
@media (max-width: 767px) {
  .categories {
    margin-top: 64px;
  }
  .categories__list {
    margin: 0;
  }
  .categories__list-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
}

.product__header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  margin-top: 96px;
  text-align: center;
}
.product__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #9F9F9F;
  margin-top: 6px;
  text-align: center;
}
.product__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 48px;
}
.product__card-list {
  max-width: 360px;
  background-color: #F8F8F8;
  margin-bottom: 30px;
}
.product__card-list:hover .list-wrapper__img {
  filter: brightness(0.35);
}
.product__button {
  border: 1px solid #F26376;
  padding: 14px 38px;
  background-color: transparent;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F26376;
  margin: 48px auto 95px;
  max-width: 134px;
  display: flex;
  text-decoration: none;
  justify-content: center;
}
.product__button:hover {
  background-color: #F26376;
  color: #FFFFFF;
}
.product .product__card-list:hover .overlay-button,
.product .product__card-list:hover .list-wrapper__overlay,
.product .product__card-list:hover .list-wrapper,
.product .product__card-list:hover .list-wrapper__overlay:before {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.product .button-img {
  width: 26px;
  height: 24px;
}
.product .card-list {
  padding: 0 28px 0 18px;
}
.product .card-list__title {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  color: #222222;
  padding-top: 25px;
  text-transform: uppercase;
}
.product .card-list__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #5D5D5D;
  padding-top: 12px;
}
.product .card-list__price {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  padding: 18px 0 20px 0;
}
@media (max-width: 1199px) {
  .product__header {
    margin-top: 40px;
  }
  .product__card {
    max-width: 736px;
    margin: 48px auto 0;
    justify-content: space-between;
  }
  .product__button {
    margin: 30px auto 50px;
  }
}
@media (max-width: 767px) {
  .product__card {
    flex-direction: column;
    align-items: center;
  }
  .product__card-last {
    margin-bottom: 30px;
  }
  .product__card-list {
    margin-bottom: 16px;
  }
}
@media (max-width: 365px) {
  .product__card-list {
    max-width: 300px;
  }
}

.list-wrapper {
  position: relative;
  max-height: 420px;
}
.list-wrapper__img {
  background: none;
  width: 100%;
}
.list-wrapper__overlay {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.list-wrapper__overlay .overlay-button {
  position: absolute;
  display: none;
  width: 139px;
  color: #FFFFFF;
  background: none;
  border-color: #FFFFFF;
  padding: 10px 16px 8px 13px;
}
@media (max-width: 1199px) {
  .list-first {
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  .list-first {
    padding: 0;
  }
}
@media (max-width: 360px) {
  .list-wrapper__img {
    max-width: 300px;
  }
}

.product__card-last {
  margin-bottom: 0;
}
@media (max-width: 1199px) {
  .product__card-last {
    margin-bottom: auto;
  }
}
@media (max-width: 767px) {
  .product__card-last {
    margin-bottom: 16px;
  }
}

.advantage {
  background-color: #222224;
}
.advantage__list {
  display: flex;
  justify-content: space-between;
  color: #FBFBFB;
  text-align: center;
}
.advantage__list-item {
  margin-top: 103px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .advantage__list {
    flex-direction: column;
    align-items: center;
  }
  .advantage__list-item {
    margin-top: 48px;
  }
  .advantage__list-itemtwo {
    margin-bottom: 64px;
  }
}

.footer {
  background-image: url(../img/footer.jpg);
  background-size: cover;
}
.footer__info {
  display: flex;
  justify-content: space-between;
}
.footer__info-data {
  max-width: 360px;
  color: #222224;
}
.footer__info-promo {
  display: flex;
  margin: 120px 100px 120px 0;
  flex-direction: column;
  justify-content: center;
}
.footer__img {
  display: block;
  margin: 86px auto 50px;
}
.footer__text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #222224;
}
.footer__bottom {
  background-color: #222224;
  padding: 24px 0 23px;
}
.footer__bottom-rights {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1199px) {
  .footer__info-promo {
    margin: 120px 60px 120px 0;
  }
  .footer__bottom-rights {
    margin: 0 32px;
  }
}
@media (max-width: 768px) {
  .footer__info {
    flex-direction: column;
    align-items: center;
  }
  .footer__info-promo {
    margin: 40px auto 56px;
    margin-top: 40px;
  }
  .footer__img {
    margin: 54px auto 30px;
  }
  .footer__text {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
  }
  .footer__bottom-rights {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
}

.promo-title {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}
.promo-text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}
.promo-send {
  margin: 0;
  padding: 32px;
}
@media (max-width: 767px) {
  .promo {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
  }
}

.send-email {
  padding: 13px 50px 13px 22px;
  border-radius: 25px 0 0 25px;
  border: none;
  background-color: #E1E1E1;
}
.send-email:focus {
  background: #ffe;
  outline: none;
}
.send-button {
  padding: 12px 20px 12px 15px;
  margin: -5px;
  border-radius: 0 25px 25px 0;
  border: 1px solid #F16D7F;
  color: #FFFFFF;
  background-color: #F16D7F;
}
.send-button:hover {
  color: #F16D7F;
  background-color: #FFFFFF;
  border: 1px solid #F16D7F;
}
@media (max-width: 810px) {
  .send-email {
    padding: 13px 20px 13px 12px;
    max-width: 130px;
  }
}

.rights {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rights-text {
  color: #FBFBFB;
}
@media (max-width: 768px) {
  .rights {
    margin: 20px;
  }
}

.connection-network-link {
  fill: #FFFFFF;
  color: #222222;
}
.connection-network-link:hover {
  fill: #F26376;
  color: #FFFFFF;
}

.registration-head {
  background-color: #F8F3F4;
  padding: 60px 0 60px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}
.registration__block {
  margin-top: 64px;
  margin-bottom: 96px;
  display: flex;
  justify-content: space-between;
}
.registration__forms-login {
  margin-top: 35px;
}
.registration__forms-button {
  margin-top: 39px;
  background-color: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 16px 36px 17px 29px;
  border: none;
}
.registration__forms-button:hover {
  background-color: white;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  padding: 15px 36px 16px 29px;
}
@media (max-width: 1199px) {
  .registration-head__text {
    margin-left: 16px;
  }
  .registration__block {
    max-width: 736px;
  }
  .registration__block-text {
    max-width: 354px;
  }
}
@media (max-width: 767px) {
  .registration__block {
    flex-direction: column;
    align-items: center;
  }
  .registration__block-text {
    margin-top: 40px;
  }
}

.card {
  border: 0px;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 128px;
}

.card-content {
  max-width: 734px;
}

.card__content-item {
  display: flex;
  background-color: #fff;
  border: 0px solid rgba(0, 0, 0, 0.125);
  box-sizing: border-box;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.card-img-top {
  max-width: 262px;
}

.card-body {
  max-width: 350px;
}

.item-top {
  margin-top: 96px;
}

.item-bottom {
  margin: 40px 0 72px 0;
}

.btn-primary {
  background-color: transparent;
  color: #222222;
  border: 1px solid #B1B1B1;
  padding: 16px 40px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  border-radius: 0;
}

.btn-first {
  margin-right: 183px;
}

.col-12 {
  max-width: 652px;
}

.col {
  max-width: 360px;
  margin-top: 20px;
}

.btn-light {
  max-width: 100px;
}

.card-price {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: column;
  max-height: 550px;
  margin-top: 76px;
}

.row-head {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
}

.form-control {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  color: #B1B1B1;
  padding: 13px 0 16px 17px;
  border-radius: 0;
}

.btn-form {
  background-color: transparent;
  border: 1px solid #B1B1B1;
  border-radius: 0;
  padding: 10px 14px 12px 15px;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
  max-width: 102px;
  margin-bottom: 31px;
  margin-top: 20px;
}

.row-place {
  max-width: 360px;
}

.card-price {
  display: flex;
  flex-direction: column;
  border: 0px solid #E1E1E1;
  background-color: #E1E1E1;
  max-width: 360px;
  align-items: flex-end;
  margin-left: 8px;
}

.line {
  background-color: #9F9F9F;
  width: 275px;
  height: 1px;
  margin: 0 32px;
}

.card-body-button {
  margin-right: 36px;
}

.card-button {
  text-decoration: none;
  color: #F16D7F;
  margin: 17px 0px 42px 36px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  background-color: #F16D7F;
  color: #FBFBFB;
  border: 0;
}
.card-button:hover {
  background-color: #FBFBFB;
  color: #F16D7F;
}

.card-title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 42px;
}

.title-list {
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 6px;
  color: #9F9F9F;
}

.title-list__price {
  color: #F16D7F;
}

.title-list__border {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  border: 1px solid #B1B1B1;
  padding: 0 16px;
  margin-left: 16px;
}

.block-title {
  display: flex;
}

.cross {
  max-width: 10px;
  position: absolute;
  margin-top: 7px;
  margin-left: 50px;
}

.card-block__body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 43px;
}

.body-text {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  font-style: normal;
  margin-top: 39px;
}

.body-title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  margin-top: 12px;
  margin-bottom: 21px;
}

@media (max-width: 1024px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-body {
    max-width: 472px;
    width: 472px;
    flex: none;
    padding: 0;
  }

  .btn-first {
    margin-right: 0;
  }

  .col-12 {
    display: flex;
    justify-content: space-evenly;
    flex: none;
    width: auto;
    max-width: none;
  }

  .row {
    flex-wrap: nowrap;
    flex-direction: row;
    margin-left: -204px;
  }

  .row-place {
    display: flex;
    flex-direction: column;
  }

  .card-price {
    max-height: 240px;
  }

  .card-button {
    margin: 30px auto 50px;
  }

  .cross {
    margin-left: 160px;
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .card-body {
    width: 214px;
  }

  .card-img-top {
    width: 210px;
  }

  .card-title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
    margin-top: 16px;
  }

  .title-list {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
  }

  .cross {
    margin-left: 10px;
    margin-top: 18px;
  }

  .btn-primary {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-style: normal;
    padding: 9px 30px;
  }

  .row {
    margin-left: 0;
    flex-wrap: wrap;
  }
}
.forms-data {
  display: flex;
  flex-direction: column;
}
.forms-data__text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
}
.forms-data__gender {
  display: flex;
  margin-top: 31px;
}

.fa-arrow-right::before {
  content: "";
  padding-left: 20px;
}
.fa-check::after {
  content: "";
  padding-right: 23px;
}

.gender-input {
  margin-right: 10px;
}
.gender-label {
  margin-right: 20px;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
  padding-top: 3px;
}

.text-input {
  margin-top: 20px;
  max-width: 360px;
  height: 45px;
}
.text-paragraph {
  font-size: 13px;
  line-height: 15px;
  font-weight: 300;
  font-style: normal;
  margin-top: 15px;
  color: #B1B1B1;
  max-width: 360px;
}
.text-head {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
}
.text-content {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  max-width: 650px;
  margin-top: 22px;
}
.text-list {
  margin-top: 21px;
}
.text-list__item {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  margin-top: 16px;
}
@media (max-width: 1199px) {
  .text-input {
    max-width: 360px;
  }
}

.catalog-top {
  background-color: #F8F3F4;
  padding: 60px 0;
}
.catalog-caption {
  display: flex;
  justify-content: space-between;
}
.catalog .middle__card-list:hover .overlay-button,
.catalog .middle__card-list:hover .list-wrapper__overlay,
.catalog .middle__card-list:hover .list-wrapper,
.catalog .middle__card-list:hover .list-wrapper__overlay:before {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.catalog .card-list {
  padding: 0 28px 0 18px;
}
.catalog .card-list__title {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  color: #222222;
  padding-top: 25px;
  text-transform: uppercase;
}
.catalog .card-list__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #5D5D5D;
  padding-top: 12px;
}
.catalog .card-list__price {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  padding: 18px 0 20px 0;
}
@media (max-width: 426px) {
  .catalog-caption {
    flex-direction: column;
    align-items: center;
  }
  .catalog-top {
    padding: 0;
  }
}

.caption-text {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  margin-left: 16px;
}
.caption-bread {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #5D5D5D;
  text-transform: uppercase;
  margin-right: 16px;
}
.caption-arrivals {
  color: #F16D7F;
}
@media (max-width: 426px) {
  .caption-text {
    margin: 24px 0 0;
  }
  .caption-bread {
    margin: 32px 0 46px;
  }
}

.chapter-top {
  display: flex;
  text-transform: uppercase;
  margin-top: 24px;
}
.chapter-filter {
  position: relative;
  margin-left: 20px;
  margin-right: 342px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  font-style: normal;
}
.chapter-filter::after {
  content: " ";
  position: absolute;
  background-image: url(../img/filter.svg);
  width: 15px;
  height: 10px;
  bottom: 3px;
  left: 60px;
}
.chapter-trending {
  position: relative;
  display: flex;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #5D5D5D;
}
.chapter-trending__now {
  margin-right: 48px;
}
.chapter-trending__now::after {
  content: " ";
  position: absolute;
  background-image: url(../img/arrow-bottom.svg);
  width: 10px;
  height: 5px;
  bottom: 6px;
  left: 120px;
}
.chapter-trending__size {
  margin-right: 48px;
}
.chapter-trending__size::after {
  content: " ";
  position: absolute;
  background-image: url(../img/arrow-bottom.svg);
  width: 10px;
  height: 5px;
  bottom: 6px;
  left: 198px;
}
.chapter-trending__price::after {
  content: " ";
  position: absolute;
  background-image: url(../img/arrow-bottom.svg);
  width: 10px;
  height: 5px;
  bottom: 6px;
  left: 288px;
}
.chapter-bottom {
  text-align: center;
  margin: 48px auto 96px;
  letter-spacing: 5px;
  border: 1px solid #9F9F9F;
  padding: 12px 40px;
  max-width: 284px;
  position: relative;
}
.chapter-bottom__pages {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #B1B1B1;
}
.chapter-bottom__pages::before {
  content: " ";
  position: absolute;
  background-image: url(../img/arrow-left.svg);
  width: 8px;
  height: 14px;
  left: 65px;
  top: 15px;
}
.chapter-bottom__pages::after {
  content: " ";
  position: absolute;
  background-image: url(../img/arrow-right.svg);
  width: 8px;
  height: 14px;
  left: 285px;
  top: 15px;
}
.chapter-bottom__number {
  color: #F16D7F;
}
.chapter-bottom__decimal {
  letter-spacing: normal;
}
@media (max-width: 768px) {
  .chapter-filter {
    margin-right: 382px;
  }
  .chapter-bottom {
    margin: 40px auto 63px;
  }
}
@media (max-width: 426px) {
  .chapter-top {
    justify-content: space-between;
    padding-right: 35px;
  }
  .chapter-filter {
    margin-right: 20px;
  }
  .chapter-filter::after {
    width: 35px;
    height: 25px;
    background-size: 35px 25px;
    left: 0;
    bottom: 0;
  }
  .chapter-head {
    display: none;
  }
  .chapter-trending {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-style: normal;
  }
  .chapter-trending__now::after {
    left: 105px;
  }
  .chapter-trending__size::after {
    left: 180px;
  }
  .chapter-trending__price::after {
    left: 264px;
  }
}

.middle__card {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  justify-content: space-between;
  margin-top: 48px;
}
.middle__card-list {
  max-width: 360px;
  background-color: #F8F8F8;
  margin-bottom: 30px;
}
.middle__card-list:hover .list-wrapper__img {
  filter: brightness(0.35);
}
@media (max-width: 768px) {
  .middle__card {
    grid-template-columns: repeat(2, 50%);
    justify-items: center;
    justify-content: space-around;
  }
  .middle-last {
    display: none;
  }
}
@media (max-width: 426px) {
  .middle__card {
    grid-template-columns: repeat(1, 100%);
  }
}/*# sourceMappingURL=style.css.map */