/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.page {
  font-family: "Lato";
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: #222222;
}
.header__wrp {
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  align-items: center;
}
.header__wrp-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__wrp-links-menu {
  display: flex;
  justify-content: flex-end;
  position: relative;
  min-height: 20px;
}
.header__logo {
  margin-right: 41px;
}
.header__button {
  margin-right: 25px;
  border: none;
  background-color: transparent;
}
.header__button-img {
  fill: #FFFFFF;
}
.header__button-img:hover {
  fill: #F16D7F;
}
.header__button-img:active {
  fill: rgba(168, 43, 152, 0.86);
}
.header__profile {
  margin-right: 42px;
}
.header__nav {
  position: absolute;
  width: 80px;
  top: 100%;
  right: 0;
  background: #FFFFFF;
  display: none;
}
.header__nav-title {
  text-transform: uppercase;
}
.header__menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-item__sub-title {
  text-transform: uppercase;
}

.brand {
  background-color: #F1E4E6;
  display: flex;
  height: 764px;
  padding: 0 calc(50% - 570px);
  justify-content: space-between;
}
.brand__wrp {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 393px;
  align-items: flex-start;
  margin: 0;
  position: relative;
}
.brand__wrp::before {
  width: 12px;
  height: 92px;
  background-color: #F16D7F;
  content: "";
  position: absolute;
  left: -28px;
}
.brand__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
}
.brand__text {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
}
.brand__text-fashion {
  color: #F16D7F;
  text-transform: uppercase;
}

.categories {
  margin-top: 65px;
}
.categories__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.categories__list-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categories .item-block {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories .item-block__text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  text-transform: uppercase;
}
.categories .item-block__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}

.item-block-long {
  margin-top: 30px;
}

.item-img-bottom {
  width: 100%;
}

.product__header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  margin-top: 96px;
  text-align: center;
}
.product__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #9F9F9F;
  margin-top: 6px;
  text-align: center;
}
.product__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 48px;
}
.product__card-list {
  width: 360px;
  background-color: #F8F8F8;
  margin-bottom: 30px;
}
.product__card-list:hover .wrapper-img {
  filter: brightness(0.35);
}
.product__button {
  border: 1px solid #F26376;
  padding: 14px 38px;
  background-color: transparent;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F26376;
  margin: 48px auto 95px;
  display: block;
}
.product__button:hover {
  background-color: #F26376;
  color: #FFFFFF;
}
.product .list-wrapper {
  position: relative;
  max-height: 420px;
}
.product .list-wrapper .wrapper-img {
  background: none;
}
.product .list-wrapper .wrapper-overlay {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.product .list-wrapper .wrapper-overlay .overlay-button {
  position: absolute;
  display: none;
  width: 139px;
  color: #FFFFFF;
  background: none;
  border-color: #FFFFFF;
  padding: 10px 16px 8px 13px;
}
.product .product__card-list:hover .overlay-button, .product .product__card-list:hover .wrapper-overlay, .product .product__card-list:hover .list-wrapper, .product .product__card-list:hover .wrapper-overlay:before {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.product .button-img {
  width: 26px;
  height: 24px;
}
.product .card-list {
  padding: 0 28px 0 18px;
}
.product .card-list__title {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  color: #222222;
  padding-top: 25px;
  text-transform: uppercase;
}
.product .card-list__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #5D5D5D;
  padding-top: 12px;
  text-transform: uppercase;
}
.product .card-list__price {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  padding: 18px 0 20px 0;
}

.product__card-last {
  margin-bottom: 0;
}

.advantage {
  background-color: #222224;
}
.advantage__list {
  display: flex;
  justify-content: space-between;
  color: #FBFBFB;
  text-align: center;
}
.advantage__list-item {
  margin-top: 103px;
  display: flex;
  flex-direction: column;
}
.advantage .item-img {
  display: block;
  margin: 0 auto;
}
.advantage .item-bus {
  padding-bottom: 7px;
  display: block;
  margin: 0 auto;
}
.advantage .item-corona {
  padding-bottom: 5px;
  display: block;
  margin: 0 auto;
}
.advantage .item-heading {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  padding: 19px 0 16px;
}
.advantage .item-text {
  max-width: 360px;
  margin-bottom: 104px;
}

.footer {
  background-image: url(../img/footer.jpg);
  max-width: 1600px;
  max-height: 448px;
}
.footer__info {
  display: flex;
  max-height: 448px;
}
.footer__info-data {
  width: 360px;
  color: #222224;
}
.footer__info-promo {
  display: block;
  margin: 150px auto 156px;
}
.footer__img {
  display: block;
  margin: 86px auto 50px;
}
.footer__text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #222224;
}
.footer .promo-title {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}
.footer .promo-text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
.footer .promo-send {
  margin: 0;
  padding: 32px;
}
.footer .promo-send .send-email {
  padding: 13px 70px 13px 22px;
  border-radius: 25px 0 0 25px;
  border: none;
  background-color: #E1E1E1;
}
.footer .promo-send .send-email:focus {
  background: #ffe;
  outline: none;
}
.footer .promo-send .send-button {
  padding: 13px 20px 13px 25px;
  margin: -5px;
  border-radius: 0 25px 25px 0;
  border: 1px solid #F16D7F;
  color: #FFFFFF;
  background-color: #F16D7F;
}
.footer .promo-send .send-button:hover {
  color: #F16D7F;
  background-color: #FFFFFF;
  border: 1px solid #F16D7F;
}
.footer__rights-connection {
  background-color: #222224;
  padding: 24px 0 23px;
}
.footer__rights-connection .rights-connection {
  display: flex;
  justify-content: space-between;
}
.footer__rights-connection .rights-connection .rights {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__rights {
  color: #FBFBFB;
}
.footer .network-link {
  fill: #FFFFFF;
  color: #222222;
}
.footer .network-link:hover {
  fill: #F26376;
  color: #FFFFFF;
}

.registration-head {
  background-color: #F8F3F4;
  padding: 60px 0 60px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}

.registration__block {
  margin-top: 64px;
}

.forms-data {
  display: flex;
  flex-direction: column;
}

.forms-data__text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
}

.registration__forms-login {
  margin-top: 35px;
}

.text-input {
  margin-top: 20px;
  width: 365px;
  height: 45px;
}

.forms-data__gender {
  display: flex;
  margin-top: 31px;
}

.gender-input {
  margin-right: 10px;
}

.gender-label {
  margin-right: 20px;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
  padding-top: 3px;
}/*# sourceMappingURL=style.css.map */