.advantage {
    background-color: $pre-black;

    &__list {
        display: flex;
        justify-content: space-between;
        color: $whitely;
        text-align: center;

        &-item {
            margin-top: 103px;
            display: flex;
            flex-direction: column;
        }
    }

    @media (max-width: 768px) {
        &__list {
            flex-direction: column;
            align-items: center;

            &-item {
                margin-top: 48px;
            }

            &-itemtwo {
                margin-bottom: 64px;
            }
        }
    }
}

