.advantage {
    background-color: $pre-black;

    &__list {
        display: flex;
        justify-content: space-between;
        color: $whitely;
        text-align: center;

        &-item {
            margin-top: 103px;
            display: flex;
            flex-direction: column;
        }
    }
    
    .item {
        &-img {
        display: block;
        margin: 0 auto;
    }

        &-bus {
            padding-bottom: 7px;
            display: block;
            margin: 0 auto;
        }

        &-corona {
            padding-bottom: 5px;
            display: block;
            margin: 0 auto;
        }

        &-heading {
            @include font(20px);
            padding: 19px 0 16px;
        }

        &-text {
            max-width: 360px;
            margin-bottom: 104px;
        }
    }
}

