.brand {
    background-color: $light-pink;
    display: flex;
    height: 764px;
    padding: 0 calc(50% - 570px);
    justify-content: space-between;

    &__wrp {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 393px;
        align-items: flex-start;
        margin: 0;
        position: relative;

        &::before {
            width: 12px;
            height: 92px;
            background-color: $red-pink;
            content: '';
            position: absolute;
            left: -28px;
        }
    }
    
    &__title {
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        text-transform: uppercase;
    }
    
    &__text {
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        text-transform: uppercase;

        &-fashion {
        color: $red-pink;
        text-transform: uppercase;
    }
    }
}

