.content {
    &-item {
        position: relative;
        @include flex-center;
        

        &__img {
            display: block;
            margin: 0 auto;
        }

        

        &__column {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &-long {
        margin-top: 30px;


        &__img {
            max-width: 100%;
        }
    }


    @media (max-width:1199px) {
        &-item {
            

            &__img {
                // max-width: 232px;
                max-width: 100%;
            }

            &__first {
                padding: 0 20px;
            }
        }

        &-long {
            max-width: 100%;
            margin-top: 19px;

            &__img {
                max-width: 100%;
            }
        }

    @media (max-width: 767px) {
        &-item {
            margin-bottom: 32px;

            &__img {
                max-width: 360px;
            }

            &__first {
                padding: 0;
            }
        }

        &-long {
            margin-top: 0;

            &__img {
                height: 111px;
                object-fit: cover;
            }
        }
    }
    }
}