.footer {
    background-image: url(../img/footer.jpg);
    max-width: 1600px;
    max-height: 448px;

    &__info {
        display: flex;
        max-height: 448px;

        &-data {
            width: 360px;
            color: $pre-black;
        }

        &-promo {
            display: block;
            margin: 150px auto 156px;
        }
    }
    
    &__img {
        display: block;
        margin: 86px auto 50px;
    }
    
    &__text {
        @include font(20px);
        text-align: center;
        color: $pre-black;
    }

    .promo {
        &-title {
            @include font(24px, 40px, 700);
            text-align: center;
        }

        &-text {
            @include font(18px, 30px);
            text-align: center;
        }

        &-send {
            margin: 0;
            padding: 32px;
        }

        &-send .send-email {
            padding: 13px 70px 13px 22px;
            border-radius: 25px 0 0 25px;
            border: none;
            background-color: $dark-grey;

            &:focus {
        background: $grey-white;
        outline: none;
        }
        }

        &-send .send-button {
        padding: 13px 20px 13px 25px;
        margin: -5px;
        border-radius: 0 25px 25px 0;
        border: 1px solid $red-pink;
        color: $white;
        background-color: $red-pink;

        &:hover {
        color: $red-pink;
        background-color: $white;
        border: 1px solid $red-pink;
    }
    }
    }
    
    &__rights-connection {
        background-color: $pre-black;
        padding: 24px 0 23px;

        .rights-connection {
        display: flex;
        justify-content: space-between;
    }

        .rights-connection .rights {
        @include flex-center;
    }
    }
    
    &__rights {
        color: $whitely;
    }
    
    .network-link {
        fill: $white;
        color: $black;

        &:hover {
        fill: $red;
        color: $white;
    }
    }
}

