.product {
    &__header {
        @include font(30px, 36px);
        margin-top: 96px;
        text-align: center;
    }
    
    &__text {
        @include font(14px, 17px);
        color: $grey;
        margin-top: 6px;
        text-align: center;
    }
    
    &__card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 48px;

        &-list {
            width: 360px;
            background-color: $light-grey;
            margin-bottom: 30px;

            &:hover .wrapper-img {
                filter: brightness(0.35);
            }
        }
    }
    &__button {
        border: 1px solid $red;
        padding: 14px 38px;
        background-color: transparent;
        @include font(16px,19px);
        color: $red;
        margin: 48px auto 95px;
        display: block;

            &:hover {
                background-color: $red;
                color: $white;
            }
        }
    
    .list-wrapper {
        position: relative;
        max-height: 420px;

        .wrapper-img {
            background: none;
        }
        
        .wrapper-overlay {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            display: none;

            .overlay-button {
                position: absolute;
                display: none;
                width: 139px;
                color: $white;
                background: none;
                border-color: $white;
                padding: 10px 16px 8px 13px;
            }
        }
    }
  
    .product__card-list:hover .overlay-button, .product__card-list:hover .wrapper-overlay, .product__card-list:hover .list-wrapper, .product__card-list:hover .wrapper-overlay:before {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .button-img {
        width: 26px;
        height: 24px;
    }
    
    .card-list {
        padding: 0 28px 0 18px;

        &__title {
            @include font(13px,16px);
            color: $black;
            padding-top: 25px;
            text-transform: uppercase;
        }

        &__text {
            @include font(14px, 17px, 300);
            color: $dark;
            padding-top: 12px;
        }

        &__price {
            @include font(16px, 19px);
            color: $red-pink;
            padding: 18px 0 20px 0;
        }
    }

    @media (max-width:1199px) {
        &__header {
            margin-top: 40px;
        }

        &__card {
            max-width: 736px;
            margin: 48px auto 0;
            justify-content: space-between;
        }

        &__button {
            margin: 30px auto 50px;
        }
    }

    @media (max-width: 767px) {
        &__card {
            flex-direction: column;
            align-items: center;

            &-last {
                margin-bottom: 30px;
            }

            &-list {
                margin-bottom: 16px;
            }
        }
    }
}

