.registration {

    &-head {
        background-color: $light;
        padding: 60px 0 60px;
        @include font(24px, 29px);
        color: $red-pink;
        text-transform: uppercase;
    }

    &__block {
        margin-top: 64px;
        margin-bottom: 96px;
        display: flex;
        justify-content: space-between;
    }

    &__forms-login {
        margin-top: 35px;
    }

    &__forms-button {
        margin-top: 39px;
        background-color: $red-pink;
        @include font (14px, 17px);
        color: $white;
        text-transform: uppercase;
        padding: 16px 36px 17px 29px;
        border: none;

        &:hover {
            background-color: white;
            color: $red-pink;
            border: 1px solid $red-pink;
            padding: 15px 36px 16px 29px;
        }
    }

    @media (max-width: 1199px) {
        &-head__text {
            margin-left: 16px;
        }

        &__block {
            max-width: 736px;

            &-text {
                max-width: 354px;
            }
        }
    }

    @media (max-width: 767px) {
        &__block {
            flex-direction: column;
            align-items: center;


            &-text {
                margin-top: 40px;
            }
        }
    }
}